body{
    background-image: url(./8.jpg);
    background-size: cover;
}

.col-md-4 img{
    border-radius: 150px;
}

.navbar .navbar-brand {
    font-size: 40px !important;
}

.nav-item .nav-link i{
    font-size: 20px;
}


